header {
    background: url("../images/banner/banner3.png");
    background-position: 100%;
    display: block;
    height: 710px;
    width: 1400px;
    position: relative;
}
h1.main-heading{
    display: inline-block;
    color: aliceblue;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 750px;
    top: 260px;
    font-size: 55px;

}
p.heading-text{
    display: inline-block;
    color: aliceblue;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 750px;
    top: 430px;
}
.c-button{
    background-color: aliceblue;
    display: inline-block;
    margin-top: 530px;
    margin-left: 740px;
    padding: 16px 25px;
    border: 2px solid rgb(128, 128, 226);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 650;
    color: rgb(35, 131, 221);
}
main{
    width: 1072px;
    height: 723.3px;
    left: 189px;
    top: 933px;

}
.img-person{
    display: inline;
    margin-left: 50px;
    margin-bottom: 300px;
}
h1.f-title{
    display: block;
    font-size: 40px;
    margin-left: 700px;
    padding: 50px;
    margin-bottom: 600px;
    margin-top: -600px;
}
p.f-des1{
    display: block;
    font-size: 16px;
    margin-left: 740px;
    padding: 70px 10PX 10PX 10px;
    margin-top: -670px;
    color: rgba(0, 0, 0, 0.737);
}
ul.f-list{
   
    display: block;
    margin-left: 710px;
    width: 349.84px;
    height: 163px;
    top: 1385px;
}
li{
    padding: 10px;
    list-style: none;
    color: rgba(0, 0, 0, 0.737);    
}
li img.check{
    display: inline-block;
    height: 18px;
    width: 18px;
}
h1.my-plans{
    display: block;
    position: relative;
    top: 250px;
    left: 550px;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.856);
}
.mplans{
    display: flex;
    padding: auto;
    margin-top: 300px;
    margin-left: 450px;
}
.plan-skills{
    padding: 50px 50px;
    position: relative;
}

#plan1{
    display: block;
    padding: 20px;
    margin: 10px 20px;
}

#plan2{
    display: block;
    padding: 20px;
    margin: 10px 20px;
}

#plan3{
    display: block;
    padding: 20px;
    margin: 10px 20px;
}

#plan4{
    display: block;
    padding: 20px;
    margin: 10px 20px;

}